.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
}

.frame-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

h1.my-app-name {
  margin-left: 8px;
}

.scrollable-content {
  margin-top: 64px; /* Adjust based on the height of your toolbar */
  overflow: auto; /* Enable scrolling */
  flex: 1;
  padding: 16px; /* Optional: Add padding for content */
}

.main-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
  margin-top: 64px; 
}

.custom-button {
  display: flex;
  width: 100%; /* Make buttons the same width */
  justify-content: space-between;
  align-items: center;
}

mat-icon {
  margin-left: auto; /* This will push the icon to the right */
  padding-left: 10px;
}
