.scrollable-container {
    width: 100%;
    height: 100vh; /* Full viewport height */
    overflow: auto; /* Enable both horizontal and vertical scrolling */
    background-image: url('/assets/images/certificate.png');
    background-size: 908px 908px;
    background-repeat: no-repeat; /* Do not repeat the background image */
    background-position: top left;; /* Center the background image */
  }

  .centered-header {
    position: absolute; /* Set position to absolute for the header */
    top: 25%; /* Position the header 100px below the upper boundary */
    left: 50%; /* Center the header horizontally */
    transform: translateX(-50%); /* Adjust the position to truly center the header */
    text-align: center; /* Center the text within the header */
    color: brown; /* Set the text color (adjust as needed) */
    font-size: 80px; /* Set the font size (adjust as needed) */
    font-family: 'Great Vibes', cursive;
  }

  .centered-text{
    position: absolute; /* Set position to absolute for the header */
    top: 35%; /* Position the header 100px below the upper boundary */
    left: 50%; /* Center the header horizontally */
    transform: translateX(-50%); /* Adjust the position to truly center the header */
    text-align: center; /* Center the text within the header */
    color: brown; /* Set the text color (adjust as needed) */
    font-size: 20px; /* Set the font size (adjust as needed) */
    font-family: 'Great Vibes', cursive;
  }

  .numbers{
    position: absolute; /* Set position to absolute for the header */
    top: 45%; /* Position the header 100px below the upper boundary */
    left: 50%; /* Center the header horizontally */
    transform: translateX(-50%); /* Adjust the position to truly center the header */
    text-align: center; /* Center the text within the header */
    color: brown; /* Set the text color (adjust as needed) */
    font-size: 20px; /* Set the font size (adjust as needed) */
    font-family: 'Great Vibes', cursive;
  }

  .sigtanture{
    position: absolute; /* Set position to absolute for the header */
    top: 55%; /* Position the header 100px below the upper boundary */
    left: 50%; /* Center the header horizontally */
    transform: translateX(-50%); /* Adjust the position to truly center the header */
    text-align: center; /* Center the text within the header */
    color: brown; /* Set the text color (adjust as needed) */
    font-size: 20px; /* Set the font size (adjust as needed) */
    font-family: 'Great Vibes', cursive;
  }
  