.scrollable-container {
  width: 100vw;
  height: 100vh; 
  overflow: auto; /* Enable both horizontal and vertical scrolling */
  background-image: url('/assets/images/certificate.png');
  background-size: 908px 908px;
  background-repeat: no-repeat; 
  background-position: top left;
  padding-bottom: 650px; /* Height of the scrollbare area below image */
  padding-right: 450px; /* Width of the scrollbare area right of image */
}

.common-text {
  position: absolute; 
  left: 300px; 
  color: brown; 
  font-size: 20px; 
  font-family: 'Great Vibes', cursive;
  text-align: center; 
  white-space: nowrap;
}

.centered-header {
  top: 270px; 
  left: 400px; 
  font-size: 60px; 
}


.centered-text1{
  top: 350px; 
}
.centered-text2{
  top: 380px; 
}
.centered-text3{
  top: 410px; 
}

.numbers{
  top: 440px; 
}

.sigtanture{
  top: 490px; 
  left: 250px;
}

  
  