<mat-card class="settings-card">
  <mat-card-header>
    <mat-card-title>{{t('settings', 'Settings')}}</mat-card-title>
  </mat-card-header>
  <mat-accordion class="settings-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>language</mat-icon>
          {{uiItems.get('language')}}:
          </mat-panel-title>
        <mat-panel-description>
          <span width = "5px"></span>
          {{langOrigin}}
          <span width = "5px"></span>
          {{langEn}}       
        </mat-panel-description>
        </mat-expansion-panel-header>
      <app-language-selection></app-language-selection>
    </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>list</mat-icon>
             {{uiItems.get('logging')}}:
            </mat-panel-title>
          <mat-panel-description>
            ({{ui.loggingExplanation}})
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        {{ui.templateFieldName}}:
      </p>
      <p>  
        <mat-form-field>
          <mat-label>*</mat-label>
          <input matInput>
        </mat-form-field>
      </p>
      <label id="logging-radio-group-label">{{ui.logLevelSetInvitation}} </label>
      <mat-radio-group
        aria-labelledby="logging-radio-group-label"
        class="logging-radio-group"
        [(ngModel)]="selectedLogLevel ">
        @for (logLevel  of logLevels; track logLevel)  {
          <mat-radio-button class="example-radio-button" [value]="logLevel.key" (change)="onDebugLevelChange($event)">
            {{logLevel.value}}
          </mat-radio-button>
        }
      </mat-radio-group>
      <button mat-raised-button disabled disabledInteractive matTooltip="This is a tooltip!">
        Update logging conditions
      </button>
    </mat-expansion-panel>
  

  </mat-accordion>
  <mat-card-footer>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
