.settings-action-buttons {
    padding-bottom: 20px;
  }
  
  .settings-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .settings-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
  }

  .settings-card {
    max-width: 400px;
  }

  mat-icon {
    padding-left: 10px;
    padding-right: 10px;
  }

  .logging-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .example-radio-button {
    margin: 5px;
  }