
<div class="card-container">
  @for (item of listNumbersInTreasure; track item) {
    <mat-card class="number-card">

      <mat-card-header>
        <mat-card-title>{{item}}</mat-card-title>
      </mat-card-header>
      <p>{{prefix}}</p>
      <mat-card-content>
        <ul>
          @for (detail of getItemDetails(item); track detail) {
            <li>{{detail}}</li>
          }
        </ul>
      </mat-card-content>
  </mat-card>
  }
</div>
<hr>
<div>
  <button mat-raised-button (click)="clearChest()" [disabled]="!isClearButtonEnabled">{{ui.clearButtonTitle}}</button>
</div>
