<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>X</button>
</mat-dialog-actions>
<h2 mat-dialog-title>{{ui.title}}</h2>
 
<mat-dialog-content>
  @for (explanation of ui.explanations; track explanation.term) {
     <h3 class="bold-text">{{explanation.term}}</h3>
     <p>{{explanation.explanation}}</p>
  }
 
</mat-dialog-content> 
<p>{{ui.prefixToLink}} <a href="https://oeis.org/" target="_blank" rel="noopener noreferrer">The On-Line Encyclopedia of Integer Sequences (OEIS)</a></p>