<mat-toolbar color="primary" class="frame-toolbar">
  <button mat-icon-button class="toolbar-icon left-margin" aria-label="Icon-button with application logo">
  <mat-icon>add_chart</mat-icon>
</button>

  <span>{{title}}</span>
  <span class="my-spacer"></span>
  <span>{{originalName}} </span>
  <span width = "5px"></span>
  <span>({{ietfTag}})</span>

  <button mat-icon-button class="toolbar-icon right-margin" aria-label="Icon-button for navigation in app" (click)="onClick()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
