.error-message {
  color: red;
  font-style: italic;
}

.min-max-field {
  width: 100px; /* Set a specific width for the mat-form-field */
}

.min-max-field input {
  text-align: center; /* Center the text */
}