<h2>{{ui.searchTitle}}</h2>
@if (!searchResultEmpty) {
  <app-serach-result-card [searchResult]="searchResult"></app-serach-result-card>
}

<p>{{ui.introduction}}</p>
<hr>
<div class="demo-section">

<mat-form-field appearance="fill" class="min-max-field">
  <input matInput type="number" [(ngModel)]="minValue" name="minValue" (ngModelChange)="validateInterval()">
</mat-form-field>
≤ X ≤
<mat-form-field appearance="fill" class="min-max-field">
  <input matInput type="number" [(ngModel)]="maxValue" name="maxValue" (ngModelChange)="validateInterval()">
</mat-form-field>

<div *ngIf="!isIntervalValid" class="error-message">
  {{errorText}}
</div>  

<mat-selection-list #criteria (selectionChange)="onSelectionChange($event)">
    @for (criterion of ui.criteria; track criterion.id; let i = $index) {
      <mat-list-option [value]="criterion">{{ui.prefix}}{{criterion.criteria}}</mat-list-option>
    }
</mat-selection-list>

</div>
<p>
  <span></span>
      <button mat-raised-button  (click)="openDialog()">{{ui.termExplanation}}</button>
</p>

