  <div class="main-container" [class.my-is-mobile]="mobileQuery.matches">


    <app-toolbar></app-toolbar>

    <mat-sidenav-container class="main-sidenav-container">
      <mat-sidenav #snav [opened]="isShowing"[mode]="mobileQuery.matches ? 'over' : 'side'"
                  [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
          <mat-nav-list>
            @for (nav of navItemsDefault; track nav.id) {
              <a mat-list-item (click)="selectMenuItem(nav.id)">
                  <button mat-icon-button class="custom-button mat-body-1">{{nav.label}}
                    <mat-icon color="primary" iconPosition="after">{{nav.icon}}</mat-icon>
                  </button>
              </a>
            }
          </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content>        
        @switch (currentCommponent) { 
          @case ("buying") {
            <app-buying></app-buying>
          } 
          @case ("report") {
            <app-report></app-report>
          } 
          @case ("info") {
            <app-info></app-info>
          } 
          @default {
            <app-setting></app-setting>
          } 
        }
      </mat-sidenav-content>
    </mat-sidenav-container>


  </div>